.topic {
  .topic-icon {
    color: var(--color-primary-400);
  }
  .topic-labels {
    color: var(--color-primary-400);
  }
  ul.topic-abstract {
    list-style: none;
  }
}

.topic-featured,
.topic-showcase {
  .topic-picture img {
    border-radius: var(--border-radius-pill);
  }
}
