@media (prefers-color-scheme: dark) {
  :root {
    --color-mono-700: hsl(0, 0%, 100%);
    --color-mono-600: hsl(0, 0%, 90%);
    --color-mono-500: hsl(0, 0%, 75%);
    --color-mono-400: hsl(0, 0%, 60%);
    --color-mono-300: hsl(0, 0%, 45%);
    --color-mono-200: hsl(0, 0%, 30%);
    --color-mono-100: hsl(0, 0%, 15%);
    --color-mono-000: hsl(0, 0%, 0%);
    --color-primary-100: hsl(31, 89%, 15%);
    --color-primary-200: hsl(31, 89%, 30%);
    --color-primary-300: hsl(31, 89%, 42%);
    --color-primary-400: hsl(31, 89%, 60%);
    --color-primary-500: hsl(31, 89%, 75%);
    --color-primary-600: hsl(31, 89%, 90%);
    --color-secondary-100: hsl(196, 52%, 15%);
    --color-secondary-200: hsl(196, 52%, 30%);
    --color-secondary-300: hsl(196, 52%, 41%);
    --color-secondary-400: hsl(196, 52%, 60%);
    --color-secondary-500: hsl(196, 52%, 75%);
    --color-secondary-600: hsl(196, 52%, 90%);
  }
}
