.topic {
  .topic-icon {
    color: var(--color-primary-400);
  }

  .topic-labels {
    color: var(--color-primary-400);
  }
}

.topic-featured,
.topic-showcase {
  .topic-picture img {
    border-radius: var(--border-radius-pill);
  }
}
