.topic {
  .topic-icon {
    color: var(--color-primary-500);
  }

  .topic-labels {
    color: var(--color-primary-500);
  }
}

.topic-featured {
  .topic-picture img {
    border-radius: var(--border-radius-rounded);
  }
}
